<settings>
    <repositories>
        <repository>
            <id>mavenArchetype-mvn-repo</id>
            <url>https://github.com/Akeem35/mavenArchetype/tree/mvn-repo/</url>
            <snapshots>
                <enabled>true</enabled>
                <updatePolicy>always</updatePolicy>
            </snapshots>
        </repository>
    </repositories>
</settings>
